<html lang="ko">
	<head>
		<!-- 네이버 웹마스터 사이트 소유확인 -->
		<meta name="naver-site-verification" content="13dbaad24d58fea85b9d504cd79dc7c16b733a64" />

		<!-- Google 웹마스터 사이트 소유확인-->
		<meta
			name="google-site-verification"
			content="fasItu6J1tJaJ2mMy36P5-vI32OQxY_eDpnXQVwlwAg"
		/>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="MAX의 놀이터 입니다." />
		<meta name="author" content="" />
		<link
			href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"
			rel="stylesheet"
		/>

		<meta property="og:type" content="website" />
		<meta property="og:title" content="MAX의 놀이터" />
		<meta property="og:description" content="MAX의 놀이터 입니다." />
		<!-- <meta property="og:image" content="http://www.mysite.com/myimage.jpg"> -->
		<meta property="og:url" content="https://max-play-ground.netlify.app" />

		<title>MAX_Play_Ground</title>

		<!-- Bootstrap core CSS -->
		<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

		<!-- popup CSS -->
		<link rel="stylesheet" href="assets/css/popup.css" />

		<!-- Additional CSS Files -->
		<link rel="stylesheet" href="assets/css/fontawesome.css" />
		<link rel="stylesheet" href="assets/css/templatemo.css" />
		<link rel="stylesheet" href="assets/css/owl.css" />
		<link rel="stylesheet" href="assets/css/lightbox.css" />

		<!-- Tic_Tac_Toe  -->
		<link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
		<link rel="stylesheet" href="assets/css/Tic_Tac_Toe.css" />
		<script defer src="https://pyscript.net/alpha/pyscript.min.js"></script>
		<py-script src="assets/py/Tic_Tac_Toe.py"></py-script>

		<!-- Wordle -->
		<link rel="stylesheet" href="assets/css/Wordle.css" />
		<script defer src="assets/js/Wordle.js"></script>

		<!-- Dot_And_Box -->
		<link rel="stylesheet" href="assets/css/Dot_And_Box.css" />
		<script defer src="assets/js/Dot_And_Box.js"></script>

		<!-- Minesweeper_Game -->
		<link rel="stylesheet" href="assets/css/Minesweeper.css" />
		<script defer src="assets/js/Minesweeper.js"></script>

		<!-- Swipe_Brick_Breaker_Game -->
		<link rel="stylesheet" href="assets/css/Swipe_Brick_Breaker.css" />
		<script defer src="assets/js/Swipe_Brick_Breaker.js"></script>
	</head>

	<body>
		<!-- header -->
		<header class="main-header clearfix" role="header">
			<div class="logo">
				<a href="#;"><em>MAX</em>의 놀이터</a>
			</div>
			<a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
			<nav id="menu" class="main-nav" role="navigation">
				<ul class="main-menu">
					<li><a href="#section1">최상단</a></li>
					<li class="has-submenu">
						<a href="#section2">목록</a>
						<ul class="sub-menu">
							<li><a href="#section1">1장_바로가기</a></li>
							<li><a href="#section2">랭킹 &amp; 공지</a></li>
							<li><a href="#section3">로그인</a></li>
							<li>
								<a href="Test_Make.html" rel="sponsored" class="external"
									>실험용_HTML_링크</a
								>
							</li>
						</ul>
					</li>
					<li><a href="#section4">게임 하러 가기</a></li>
					<li><a href="#section5">유툽 소개 보기</a></li>
					<li><a href="#section6">게시판 가기</a></li>
					<li><a href="링크 아무거나" class="external">링크</a></li>
				</ul>
			</nav>
		</header>

		<!-- ***** Main Banner Area Start ***** -->
		<section class="section main-banner" id="top" data-section="section1">
			<video autoplay muted loop id="bg-video">
				<source src="assets/images/course-video.mp4" type="video/mp4" />
				<!-- 영상 수정시 여기주소 변경할것 -->
			</video>

			<div class="video-overlay header-text">
				<div class="caption">
					<h6>아무나 올수 없다..</h6>
					<h2><em>MAX</em>의 놀이터</h2>
					<div class="main-button">
						<div class="scroll-to-section"><a href="#section2">더보기</a></div>
					</div>
				</div>
			</div>
		</section>
		<!-- ***** Main Banner Area End ***** -->
		<section class="features">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-12">
						<div class="features-post">
							<div class="features-content">
								<div class="content-show">
									<h4><i class="fa fa-book"></i>랭킹 &amp; 공지</h4>
								</div>
								<div class="content-hide">
									<p>기간별 랭킹 &amp; 공지</p>
									<p class="hidden-sm">2장_히든</p>
									<div class="scroll-to-section">
										<a href="#section2">랭킹 &amp; 공지 보기</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-12">
						<div class="features-post second-features">
							<div class="features-content">
								<div class="content-show">
									<h4><i class="fa fa-pencil"></i>로그인</h4>
								</div>
								<div class="content-hide">
									<p>로그인 하러 가기</p>
									<p class="hidden-sm">3장_히든</p>
									<div class="scroll-to-section">
										<a href="#section3">로그인 하러 가기</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-12">
						<div class="features-post third-features">
							<div class="features-content">
								<div class="content-show">
									<h4><i class="fa fa-graduation-cap"></i>미니 게임들</h4>
								</div>
								<div class="content-hide">
									<p>제작자가 만든 게임들</p>
									<p class="hidden-sm">4장_히든</p>
									<div class="scroll-to-section">
										<a href="#section4">게임 하러 가기</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section why-us" data-section="section2">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-heading">
							<h2>랭킹 &amp; 공지</h2>
						</div>
					</div>
					<div class="col-md-12">
						<div id="tabs">
							<ul>
								<li><a href="#tabs-1">공지</a></li>
								<li><a href="#tabs-2">전체</a></li>
								<li><a href="#tabs-3">최근 일년</a></li>
							</ul>
							<section class="tabs-content">
								<article id="tabs-1">
									<div class="row">
										<div class="col-md-6">
											<img
												src="assets/images/choose-us-image-01.png"
												alt=""
											/>
										</div>
										<div class="col-md-6">
											<h4>공지</h4>
											<p>2장_1절_설명</p>
										</div>
									</div>
								</article>
								<article id="tabs-2">
									<div class="row">
										<div class="col-md-6">
											<img
												src="assets/images/choose-us-image-02.png"
												alt=""
											/>
										</div>
										<div class="col-md-6">
											<h4>전체</h4>
											<p>2장_2절_설명</p>
										</div>
									</div>
								</article>
								<article id="tabs-3">
									<div class="row">
										<div class="col-md-6">
											<img
												src="assets/images/choose-us-image-03.png"
												alt=""
											/>
										</div>
										<div class="col-md-6">
											<h4>최근 일년</h4>
											<p>2장_3절_설명</p>
										</div>
									</div>
								</article>
							</section>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section coming-soon" data-section="section3">
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-xs-12">
						<div class="continer centerIt">
							<div>
								<h4>로그인</h4>
								<div class="counter">
									<div></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="right-content">
							<div class="top-content">
								<h6>로그인</h6>
							</div>
							<form id="contact" action="" method="get">
								<div class="row">
									<div class="col-md-12">
										<fieldset>
											<input
												name="UserID"
												type="text"
												class="form-control"
												id="UserID"
												placeholder="Your ID"
												required=""
											/>
										</fieldset>
									</div>
									<div class="col-md-12">
										<fieldset>
											<input
												name="UserPW"
												type="password"
												class="form-control"
												id="UserPW"
												placeholder="Your Password"
												required=""
											/>
										</fieldset>
									</div>
									<div class="col align-self-end">
										<div class="col">
											<fieldset>
												<ul>
													<li>
														<a href="memberfind.html"
															>아이디/비밀번호찾기</a
														>
													</li>
												</ul>
											</fieldset>
										</div>
										<div class="col">
											<fieldset>
												<ul>
													<li><a href="membership.html">회원가입</a></li>
												</ul>
											</fieldset>
										</div>
									</div>
									<div class="col-md-12">
										<fieldset>
											<button type="submit" id="form-submit" class="button">
												로그인
											</button>
										</fieldset>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section courses" data-section="section4">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="section-heading">
							<h2>미니 게임들</h2>
						</div>
					</div>
					<!--popup_boxs-->
					<div class="popup_box" id="popup_box1">
						<div>
							<a href="#;">
								<label for="popup1">
									Game_Stop <i class="fa fa-angle-double-right"></i>
								</label>
							</a>
							<div class="d-flex flex-md-6 text-white">
								<div
									class="m-auto text-center font-bold text-3xl"
									style="height: 630px;"
								>
									<h1 id="header">Tic_Tac_Toe_Game</h1>
									<div id="radio" class="text-xl font-light">
										<input
											type="radio"
											name="check_radio"
											id="ai"
											value="ai"
											pys-onClick="restart_game"
											checked
										/>
										<label for="ai">1 player</label>
										<input
											type="radio"
											name="check_radio"
											id="hm"
											value="hm"
											pys-onClick="restart_game"
										/>
										<label for="hm">2 player</label>
									</div>
									<div id="print_turn" class="text-2xl"></div>
									<table id="Tic_Tac_Toe_table"></table>
									<butten
										id="restart"
										class="btn btn-swap"
										pys-onClick="restart_game"
									>
										다시하기<span>공수교대</span>
									</butten>
								</div>
							</div>
						</div>
					</div>

					<div class="popup_box" id="popup_box2">
						<div>
							<a href="#;">
								<label for="popup2">
									Game_Stop <i class="fa fa-angle-double-right"></i>
								</label>
							</a>
							<div class="d-flex flex-md-6 text-white">
								<div class="m-auto text-center font-bold text-3xl">
									<h1 id="header">Wordle_Game</h1>
									<table id="Wordle_table"></table>
									<div>
										<input
											class="Wordle_input"
											id="input0"
											input
											type="text"
											maxlength="1"
											OnKeyUp="MoveCursor(this,input1.id,input0.id,event.keyCode)"
											oninput="handleOnInput(this)"
										/>
										<input
											class="Wordle_input"
											id="input1"
											input
											type="text"
											maxlength="1"
											OnKeyUp="MoveCursor(this,input2.id,input0.id,event.keyCode)"
											oninput="handleOnInput(this)"
										/>
										<input
											class="Wordle_input"
											id="input2"
											input
											type="text"
											maxlength="1"
											OnKeyUp="MoveCursor(this,input3.id,input1.id,event.keyCode)"
											oninput="handleOnInput(this)"
										/>
										<input
											class="Wordle_input"
											id="input3"
											input
											type="text"
											maxlength="1"
											OnKeyUp="MoveCursor(this,input4.id,input2.id,event.keyCode)"
											oninput="handleOnInput(this)"
										/>
										<input
											class="Wordle_input"
											id="input4"
											input
											type="text"
											maxlength="1"
											OnKeyUp="MoveCursor(this,input4.id,input3.id,event.keyCode)"
											oninput="handleOnInput(this)"
										/>
									</div>
									<button class="Wordle_button" id="Wordle_button">
										제출
									</button>
									<button
										class="Wordle_reset_button Wordle_reset_button-swap"
										id="Wordle_reset_button"
										onclick="not_reach_answer(); Wordle_reset_button();"
									>
										다시<span>정답도 같이</span>
									</button>
								</div>
							</div>
						</div>
					</div>

					<div class="popup_box" id="popup_box3">
						<div>
							<a href="#;">
								<label for="popup3">
									Game_Stop <i class="fa fa-angle-double-right"></i>
								</label>
							</a>
							<div class="d-flex flex-md-6 text-white">
								<div class="m-auto text-center font-bold text-3xl">
									<h1 id="header">Dot_And_Box_Game</h1>
									<div id="radio_AIvsHM" class="text-xl font-light center">
										<input
											type="radio"
											name="check_AIvsHM"
											id="Dot_And_Box_ai"
											value="Dot_And_Box_ai"
											onClick="Dot_And_Box_Game()"
											checked
										/>
										<label for="Dot_And_Box_ai">1 player</label>
										<input
											type="radio"
											name="check_AIvsHM"
											id="Dot_And_Box_hm"
											value="Dot_And_Box_hm"
											onClick="Dot_And_Box_Game()"
										/>
										<label for="Dot_And_Box_hm">2 player</label>
									</div>
									<div id="radio_map_size" class="text-xl font-light center">
										<input
											type="radio"
											name="check_map_size"
											id="small"
											value="Dot_And_Box_small"
											onClick="Dot_And_Box_Game()"
										/>
										<label for="small">small-size</label>
										<input
											type="radio"
											name="check_map_size"
											id="nomal"
											value="Dot_And_Box_nomal"
											onClick="Dot_And_Box_Game()"
											checked
										/>
										<label for="nomal">nomal-size</label>
										<input
											type="radio"
											name="check_map_size"
											id="large"
											value="Dot_And_Box_large"
											onClick="Dot_And_Box_Game()"
										/>
										<label for="large">large-size</label>
									</div>
									<canvas id="Dot_And_Box_canvas"></canvas>
									<button
										class="Dot_And_Box_button"
										id="Dot_And_Box_button"
										onClick="Dot_And_Box_Game()"
									>
										다시하기
									</button>
								</div>
							</div>
						</div>
					</div>

					<div class="popup_box" id="popup_box4">
						<div>
							<a href="#;">
								<label for="popup4">
									Game_Stop <i class="fa fa-angle-double-right"></i>
								</label>
							</a>
							<div class="d-flex flex-md-6 text-white">
								<div class="m-auto text-center font-bold text-3xl">
									<h1 id="header">Minesweeper_Game</h1>
									<div
										id="radio_Minesweeper_grade"
										class="text-xl font-light center"
									>
										<input
											type="radio"
											name="check_grade"
											id="beginner"
											value="Minesweeper_beginner"
											onClick="Minesweeper_Game()"
											checked
										/>
										<label for="beginner">beginner</label>
										<input
											type="radio"
											name="check_grade"
											id="intermediate"
											value="Minesweeper_intermediate"
											onClick="Minesweeper_Game()"
										/>
										<label for="intermediate">intermediate</label>
										<input
											type="radio"
											name="check_grade"
											id="expert"
											value="Minesweeper_expert"
											onClick="Minesweeper_Game()"
										/>
										<label for="expert">expert</label>
										<input
											type="radio"
											name="check_grade"
											id="master"
											value="Minesweeper_master"
											onClick="Minesweeper_Game()"
										/>
										<label for="master">master</label>
									</div>
									<div id="Minesweeper_timer" class="text-xl font-light center">
										0 초
									</div>
									<h2
										id="Minesweeper_status"
										class="text-xl font-light center"
									></h2>
									<table id="Minesweeper_table"></table>
									<button
										class="Minesweeper_button"
										id="Minesweeper_button"
										onClick="Minesweeper_Game()"
									>
										다시하기
									</button>
								</div>
							</div>
						</div>
					</div>

					<div class="popup_box Swipe_Brick_Breaker_app" id="popup_box5">
						<div>
							<a href="#;">
								<label for="popup5">
									Game_Stop <i class="fa fa-angle-double-right"></i>
								</label>
							</a>
							<div class="d-flex flex-md-6 text-white">
								<div class="m-auto text-center font-bold text-3xl">
									<h1 id="header">Swipe_Brick_Breaker_Game</h1>
									<div class="text-xl font-light center">
										<span
											>점수:
											<span class="Swipe_Brick_Breaker_score">1</span></span
										>
										<span class="Swipe_Brick_Breaker_ball"
											>Ball:
											<span class="Swipe_Brick_Breaker_b">1</span></span
										>
									</div>
									<canvas
										id="Swipe_Brick_Breaker_canvas"
										width="450"
										height="450"
									></canvas>
									<label for="i1" class="text-xl font-light center"
										>x1<input
											class="Swipe_Brick_Breaker_radio"
											type="radio"
											name="speed"
											value="1"
											id="i1"
											checked
									/></label>
									<label for="i2" class="text-xl font-light center"
										>x2<input
											class="Swipe_Brick_Breaker_radio"
											type="radio"
											name="speed"
											value="2"
											id="i2"
									/></label>
									<label for="i4" class="text-xl font-light center"
										>x4<input
											class="Swipe_Brick_Breaker_radio"
											type="radio"
											name="speed"
											value="4"
											id="i4"
									/></label>
									<label for="i8" class="text-xl font-light center"
										>x8<input
											class="Swipe_Brick_Breaker_radio"
											type="radio"
											name="speed"
											value="8"
											id="i8"
									/></label>
									<button
										class="Swipe_Brick_Breaker_button"
										id="Swipe_Brick_Breaker_button"
										onClick="Swipe_Brick_Breaker_Game()"
									>
										다시하기
									</button>
								</div>
							</div>
						</div>
					</div>

					<div class="owl-carousel owl-theme">
						<div class="item">
							<img src="4장_1절_사진_주소" />
							<div class="down-content">
								<h4>Tic_Tac_Toe</h4>
								<p>
									두 명이 번갈아가며 O와 X를 3×3 판에 써서 같은 글자를 빙고 하는
									게임.
								</p>
								<div class="Tic_Tac_Toe_Game-image">
									<img src="" />
								</div>
								<div class="popup_button">
									<input
										type="checkbox"
										id="popup1"
										class="popup_check"
										pys-onClick="restart_game"
									/>
									<a href="#;">
										<label for="popup1">
											Game_Start <i class="fa fa-angle-double-right"></i>
										</label>
									</a>
								</div>
							</div>
						</div>
						<div class="item">
							<img src="4장_2절_사진_주소" />
							<div class="down-content">
								<h4>Wordle</h4>
								<p>가능한 한 적은 수의 추측으로 5글자 단어를 맞추는 게임.</p>
								<div class="Wordle_Game-image">
									<img src="" />
								</div>
								<div class="popup_button">
									<input
										type="checkbox"
										id="popup2"
										class="popup_check"
										onclick="Wordle_reset_button()"
									/>
									<a href="#;">
										<label for="popup2">
											Game_Start <i class="fa fa-angle-double-right"></i>
										</label>
									</a>
								</div>
							</div>
						</div>
						<div class="item">
							<img src="4장_3절_사진_주소" />
							<div class="down-content">
								<h4>Dot_And_Box</h4>
								<p>
									교대로 선을 그어 박스를 만들고, 자신의 박스가 많이 만드는 게임.
								</p>
								<div class="author-image">
									<img src="" />
								</div>
								<div class="popup_button">
									<input
										type="checkbox"
										id="popup3"
										class="popup_check"
										onClick="Dot_And_Box_Game()"
									/>
									<a href="#;">
										<label for="popup3">
											Game_Start <i class="fa fa-angle-double-right"></i>
										</label>
									</a>
								</div>
							</div>
						</div>
						<div class="item">
							<img src="4장_4절_사진_주소" />
							<div class="down-content">
								<h4>Minesweeper</h4>
								<p>숫자 힌트를 보고 지뢰가 없는 칸을 모두 클릭하는 게임.</p>
								<div class="author-image">
									<img src="" />
								</div>
								<div class="popup_button">
									<input
										type="checkbox"
										id="popup4"
										class="popup_check"
										onClick="Minesweeper_Game()"
									/>
									<a href="#;">
										<label for="popup4">
											Game_Start <i class="fa fa-angle-double-right"></i>
										</label>
									</a>
								</div>
							</div>
						</div>
						<div class="item">
							<img src="4장_5절_사진_주소" />
							<div class="down-content">
								<h4>Swipe_BrickBreaker</h4>
								<p>
									본인이 가진 공을 보내어 숫자가 적혀 있는 벽돌을 부수면 되는
									게임.
								</p>
								<div class="author-image">
									<img src="" />
								</div>
								<div class="popup_button">
									<input
										type="checkbox"
										id="popup5"
										class="popup_check"
										onClick="Swipe_Brick_Breaker_Game()"
									/>
									<a href="#;">
										<label for="popup5">
											Game_Start <i class="fa fa-angle-double-right"></i>
										</label>
									</a>
								</div>
							</div>
						</div>
						<div class="item">
							<img src="4장_n절_사진_주소" />
							<div class="down-content">
								<h4>???_Game</h4>
								<p>만들 게임.</p>
								<div class="author-image">
									<img src="" />
								</div>
								<div class="popup_button">
									<input type="checkbox" id="popup" class="popup_check" />
									<a href="#;">
										<label for="popup">
											Game_Start <i class="fa fa-angle-double-right"></i>
										</label>
									</a>
								</div>
							</div>
						</div>
						<div class="item">
							<img src="4장_n절_사진_주소" />
							<div class="down-content">
								<h4>???_Game</h4>
								<p>만들 게임.</p>
								<div class="author-image">
									<img src="" />
								</div>
								<div class="popup_button">
									<input type="checkbox" id="popup" class="popup_check" />
									<a href="#;">
										<label for="popup">
											Game_Start <i class="fa fa-angle-double-right"></i>
										</label>
									</a>
								</div>
							</div>
						</div>
						<div class="item">
							<img src="4장_n절_사진_주소" />
							<div class="down-content">
								<h4>???_Game</h4>
								<p>만들 게임.</p>
								<div class="author-image">
									<img src="" />
								</div>
								<div class="popup_button">
									<input type="checkbox" id="popup" class="popup_check" />
									<a href="#;">
										<label for="popup">
											Game_Start <i class="fa fa-angle-double-right"></i>
										</label>
									</a>
								</div>
							</div>
						</div>
						<div class="item">
							<img src="4장_n절_사진_주소" />
							<div class="down-content">
								<h4>???_Game</h4>
								<p>만들 게임.</p>
								<div class="author-image">
									<img src="" />
								</div>
								<div class="popup_button">
									<input type="checkbox" id="popup" class="popup_check" />
									<a href="#;">
										<label for="popup">
											Game_Start <i class="fa fa-angle-double-right"></i>
										</label>
									</a>
								</div>
							</div>
						</div>
						<div class="item">
							<img src="4장_n절_사진_주소" />
							<div class="down-content">
								<h4>???_Game</h4>
								<p>만들 게임.</p>
								<div class="author-image">
									<img src="" />
								</div>
								<div class="popup_button">
									<input type="checkbox" id="popup" class="popup_check" />
									<a href="#;">
										<label for="popup">
											Game_Start <i class="fa fa-angle-double-right"></i>
										</label>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section video" data-section="section5">
			<div class="container">
				<div class="row">
					<div class="col-md-6 align-self-center">
						<div class="left-content">
							<span>제작자 롤실력</span>
							<h4>YouTube</h4>
							<p>
								마스터 갈때까지 <br /><br />
								롤창 아님
							</p>
							<div class="main-button">
								<a
									rel="nofollow"
									href="https://www.youtube.com/@MAX-mq5uf/videos"
									target="_parent"
									>YouTube Main</a
								>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<article class="video-item">
							<div class="video-caption">
								<h4>영상_이름</h4>
							</div>
							<figure>
								<a href="https://www.youtube.com/watch?v=_WTzwAT-1v4" class="play"
									><img src="섬네일_사진_주소"
								/></a>
							</figure>
						</article>
					</div>
				</div>
			</div>
		</section>

		<section class="section contact" data-section="section6">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-heading">
							<h2>게시판</h2>
						</div>
					</div>
					<div class="d-flex flex-md-6 text-white">
						<div class="m-auto text-center font-bold text-3xl">
							<form action="/action_page.php" method="get">
								<label for="titletitle">제목:</label>
								<input type="text" id="title" name="title" /><br /><br />
								<label for="content">내용:</label>
								<input type="text" id="content" name="content" /><br /><br />
								<input type="submit" value="Submit" />
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p>
							<i class="fa fa-copyright"></i>
							말단
						</p>
					</div>
				</div>
			</div>
		</footer>

		<!-- Bootstrap core JavaScript -->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

		<script src="assets/js/isotope.min.js"></script>
		<script src="assets/js/owl-carousel.js"></script>
		<script src="assets/js/lightbox.js"></script>
		<script src="assets/js/tabs.js"></script>
		<script src="assets/js/video.js"></script>
		<script src="assets/js/slick-slider.js"></script>
		<script src="assets/js/custom.js"></script>
		<script>
			//according to loftblog tut
			$('.nav li:first').addClass('active');

			var showSection = function showSection(section, isAnimate) {
				var direction = section.replace(/#/, ''),
					reqSection = $('.section').filter('[data-section="' + direction + '"]'),
					reqSectionPos = reqSection.offset().top - 0;

				if (isAnimate) {
					$('body, html').animate(
						{
							scrollTop: reqSectionPos,
						},
						800
					);
				} else {
					$('body, html').scrollTop(reqSectionPos);
				}
			};

			var checkSection = function checkSection() {
				$('.section').each(function () {
					var $this = $(this),
						topEdge = $this.offset().top - 80,
						bottomEdge = topEdge + $this.height(),
						wScroll = $(window).scrollTop();
					if (topEdge < wScroll && bottomEdge > wScroll) {
						var currentId = $this.data('section'),
							reqLink = $('a').filter('[href*=\\#' + currentId + ']');
						reqLink.closest('li').addClass('active').siblings().removeClass('active');
					}
				});
			};

			$('.main-menu, .scroll-to-section').on('click', 'a', function (e) {
				if ($(e.target).hasClass('external')) {
					return;
				}
				e.preventDefault();
				$('#menu').removeClass('active');
				showSection($(this).attr('href'), true);
			});

			$(window).scroll(function () {
				checkSection();
			});
		</script>
	</body>
</html>