<html lang="ko">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Test_Make_HTML</title>
		
		<!-- Bootstrap core CSS -->
		<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

		<!-- Additional CSS Files -->
		<link rel="stylesheet" href="assets/css/fontawesome.css">
		<link rel="stylesheet" href="assets/css/templatemo.css">
		<link rel="stylesheet" href="assets/css/owl.css">
		<link rel="stylesheet" href="assets/css/lightbox.css">
		
	</head>
	<body>
	  <header class="main-header clearfix" role="header">
		<div class="logo">
		  <a href="#;"><em>MAX</em>의 놀이터 회원가입</a>
		</div>
		<a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
		<nav id="menu" class="main-nav" role="navigation">
		  <ul class="main-menu">
			<li><a href="index.html">돌아가기</a></li>
		  </ul>
		</nav>
	  </header>
	  <div class="membership col-md-12">
		<div class ="center">
  		  <div class="member">
          <!--필드 -->
    	    <div class="field">
              <b>아이디</b>
              <span class="placehold-text">
			    <input name="NewID" type="text" class="form-control" id="NewID" placeholder="NewID">
			  </span>
            </div>
            <div class="field">
              <b>비밀번호</b>
              <input name="NewPW" type="password" class="form-control" id="NewPW" placeholder="NewPW">
            </div>
            <div class="field">
              <b>비밀번호 재확인</b>
              <input name="NewPW" type="password" class="form-control" id="ReNewPW" placeholder="CheckNewPW">
            </div>
            <div class="field">
              <b>이름</b>
              <input name="NewName" type="text" class="form-control" id="NewName" placeholder="YourName">
            </div>
            <!--필드(생년월일) -->
            <div class="field birth">
              <b>생년월일</b>
              <div>
                <input type="text" placeholder="년(4자)">                
                <select>
                  <option value="">월</option>
                  <option value="">1월</option>
                  <option value="">2월</option>
                  <option value="">3월</option>
                  <option value="">4월</option>
                  <option value="">5월</option>
                  <option value="">6월</option>
                  <option value="">7월</option>
                  <option value="">8월</option>
                  <option value="">9월</option>
                  <option value="">10월</option>
                  <option value="">11월</option>
                  <option value="">12월</option>
        		</select>
			    <select>
                  <option value="">일</option>
                  <option value="">1일</option>
                  <option value="">2일</option>
                  <option value="">3일</option>
                  <option value="">4일</option>
                  <option value="">5일</option>
                  <option value="">6일</option>
                  <option value="">7일</option>
                  <option value="">8일</option>
                  <option value="">9일</option>
                  <option value="">10일</option>
                  <option value="">11일</option>
                  <option value="">12일</option>
				  <option value="">13일</option>
				  <option value="">14일</option>
				  <option value="">15일</option>
                  <option value="">16일</option>
                  <option value="">17일</option>
				  <option value="">18일</option>
				  <option value="">19일</option>
				  <option value="">20일</option>
                  <option value="">21일</option>
                  <option value="">22일</option>
				  <option value="">23일</option>
				  <option value="">24일</option>
				  <option value="">25일</option>
                  <option value="">26일</option>
                  <option value="">27일</option>
				  <option value="">28일</option>
				  <option value="">29일</option>
				  <option value="">30일</option>
                  <option value="">31일</option>
                </select>
              </div>
          </div>
          <!--필드(성별) -->
          <div class="field gender">
            <b>성별</b>
            <div>
              <label><input type="radio" name="gender">남자</label>
              <label><input type="radio" name="gender">여자</label>
              <label><input type="radio" name="gender">선택안함</label>
            </div>
          </div>
          <!--가입하기 버튼 -->
          <input type="submit" value="가입하기">
        </div>	
	  </div>
	</div>
  </body>
</html>