<html lang="ko">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Test_Make_HTML</title>
		
		<!-- Bootstrap core CSS -->
		<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

		<!-- Additional CSS Files -->
		<link rel="stylesheet" href="assets/css/fontawesome.css">
		<link rel="stylesheet" href="assets/css/templatemo.css">
		<link rel="stylesheet" href="assets/css/owl.css">
		<link rel="stylesheet" href="assets/css/lightbox.css">
		
		<!--Nine Men's Morris-->
		
		<link rel="stylesheet" href="assets/css/Nine_Mens_Morris.css">
		<script defer src="assets/js/Nine_Mens_Morris.js"></script>
		
	</head>
	<body>
		<header class="main-header clearfix" role="header">
			<div class="logo">
			  <a href="#"><em>TEST</em>작업물</a>
			</div>
			<a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
			<nav id="menu" class="main-nav" role="navigation">
			  <ul class="main-menu">
				<li><a href="index.html">메인</a></li>
				<li><a href="Test_Make.html">테스트중</a></li>
				<li><a href="dispose_01.html" class="external">페기물_1</a></li>
				<li><a href="dispose_02.html" class="external">페기물_2</a></li>
				<li><a href="dispose_03.html" class="external">페기물_3</a></li>
				<li><a href="링크 아무거나" class="external">페기물_4</a></li>
				<li><a href="링크 아무거나" class="external">페기물_5</a></li>
			  </ul>
			</nav>
		</header>
		<div style="padding:50px"></div>
		<div class = "center">
			<h1 id="header">Nine_Men's_Morris_Game</h1>
			<div id="radio" class="text-xl font-light">
				<input type="radio" name="check_radio" id="ai" value="Nine_Mens_Morris_ai" onClick="Nine_Mens_Morris_restart_button()" checked> 1 player
				<input type="radio" name="check_radio" id="hm" value="Nine_Mens_Morris_hm" onClick="Nine_Mens_Morris_restart_button()"> 2 player
			</div>
			<div id="Nine_Mens_Morris_print_turn" class="text-2xl"></div>
			<table id="Nine_Mens_Morris_table"></table>	
		</div>
	</body>
</html>